<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Website Title -->
    <title>Saudi Reference Travel and Tour | HOME</title>

    <!-- <meta name="keywords" content="" />
    <meta name="description" content="" />

    <meta name="author" content="" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="google" content="nositelinkssearchbox" /> -->

    <link
      rel="shortcut icon"
      href="D:\TryDatasetForGP\Saudi Reference Site Updated\assets/default-favicon.ico"
      type="image/x-icon"
    />

    <!-- Google Fonts -->
    <!-- Preconnecting can help reduce the latency when actual requests are made to this domain, such as when fetching font resources. -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Font Awesome Icon -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="D:\TryDatasetForGP\Saudi Reference Site Updated\static\style.css" />
  </head>
  <body>
    <!---------- Header----------->
    <header>
      <div>
        <a href="">
          <img src="D:\TryDatasetForGP\Saudi Reference Site Updated\assets/logo.png" class="header-logo" alt="" />
        </a>

        <nav>
          <a href="D:\TryDatasetForGP\Saudi Reference Site Updated\template\page1.html">Home</a>
          <a href="#">About </a>
          <a href="#">Contact</a>
        </nav>
        <div>
          <a href="">
            <span><i class="fas fa-user"></i></span>
            <p>Log In</p>
          </a>
        </div>
      </div>
    </header>
    <!--  -->
    <section>
      <div class="home1-hero-section">
        <div class="home1-hero-section-content container">
          <div class="home1-hero-gird">
            <div class="home1-hero-grid-left">
              <div class="home1-hero-grid-left-top">
                <img src="./assets/Slide1.JPG" alt="" />
              </div>
              <div class="home1-hero-grid-left-bottom">
                <h3>King Abdulaziz Center for World Culture - Ithra</h3>
                <p>
                  The King pillars include culture, creativity, community, art,
                  and knowledge. With the visionary platforms and key pillars,
                  Ithra continuously offers inspiring workshops, performances,
                  and events.
                </p>
                <div>
                  <div>
                    <img src="./assets/5653190_2967129.jpg" alt="" />
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Location</span>
                  </div>
                  <div>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="home1-hero-grid-right">
              <h2>Recommendation</h2>

              <a href="./index.html">
                <img src="./assets/Slide2.JPG" alt="" />
                <div>
                  <h5>King Abdulaziz Center for World Culture - Ithra</h5>
                  <span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star no-star"></i
                  ></span></div
              ></a>

              <a href="">
                <img src="./assets/Slide2.JPG" alt="" />
                <div>
                  <h5>Tips for Releasing Stress by Going on Vacation</h5>
                  <span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i
                  ></span></div
              ></a>

              <a href="">
                <img src="./assets/Slide2.JPG" alt="" />
                <div>
                  <h5>King Abdulaziz Center for World Culture - Ithra</h5>
                  <span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i
                  ></span></div
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="D:\TryDatasetForGP\Saudi Reference Site Updated\static\app.js"></script>
  </body>
</html>
